{% extends "Register/base.html" %}

{% block title %}
    <title>Register</title>
{% endblock %}
{% block body %}
    <br>
    <div class="container">
        <div class="card bg-light mb-3 mx-auto" style="max-width: 28rem;">
            <div class="card-body">
            <br>
              <h5 class="card-title">WELCOME !</h5>
              <br>
              <p class="card-text">Name: {{student.Name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Surname: {{student.Surname}}</p>
              <p class="card-text">Student number: {{student.Student_number}}</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
