{% extends "Register/base.html" %}
{% block title %}
    <title>โค้วต้าทั้งหมด</title>
{% endblock %}
{% block body %}

<br>
    <div class="center">
        <h1>รายวิชาของฉัน</h1>
    </div>
<br>
    <div class="row g-0">
        {%for i in enrolled_courses%}
        <div class="container">
            <div class="card w-75 mx-auto">
                <div class="card-header">
                    {{i.id_course}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">ชื่อวิชา: {{i.course}} </h5>
                  <p class="card-text">ภาคเรียน/ปีการศึกษา: {{i.Semester}}/{{i.Year}}</p>
                  
                    <form method = "post" action = "{% url 'delete' i.id %}">
                        {% csrf_token %}
                            <div class="col-6 col-md-4">
                                <button type="submit" class="btn btn-warning">Delete</button>
                                {{message}}
                            </div>
                    </form>
                 </div>
            </div>
            <br>
        </div> 
        {% endfor %}
    </div>
{% endblock %}