{% extends "Register/base.html" %}

{% block title %}
    <title>quota</title>
{% endblock %}
{% block body %}

<br>
    <div class="center">
        <h1>รายวิชา</h1>
    </div>
<br>
<table class="table table-striped table-hover" method="post">
    {% csrf_token %}
    <thead>
        <tr>
            <th scope="col">ชื่อวิชา</th>
            <th scope="col">รหัสวิชา</th>
            <th scope="col">ภาคเรียน</th>
            <th scope="col">ปีการศึกษา</th>
            <th scope="col">สถานะ</th>
            <th scope="col">ที่ว่างเหลือ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for course in all_course %}
        <tr>
            <th scope="row">{{course.course}}</th>
            <td>{{course.id_course}}</td>
            <td>{{course.Semester}}</td>
            <td>{{course.Year}}</td>
            {% if course.is_open %}
                <td>เปิด</td>
                <td>{{course.quota}}/{{course.max_quota}}</td>
                <form method="post" action="{% url 'add_student' course.id %}">
                    {% csrf_token %}
                    <td>
                        <button type="submit" class="btn btn-success">Register</button>
                    </td>
                </form>
            {% else %}
                <td>ปิด</td>
                <td>{{course.max_quota}}</td>
                <td>ไม่สามารถลงทะเบียนได้</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}