name: Django CI

on:
  push:
    branches: ["testing"]
  pull_request:
    branches: ["testing"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python manage.py makemigrations
          python manage.py migrate
      - name: Set environment variables
        run: |
          echo "DJANGO_SETTINGS_MODULE=your_project.settings" >> $GITHUB_ENV
      - name: Run Tests
        run: |
          coverage run --source='.' manage.py test
          coverage report
